.vscode/**
.vscode-test/**
src/**
.gitignore
.github/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.git/**
node_modules/**
out/**
test/**
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/*.vsix
!dist/**